#home {
  width: 100%;
  height: 100vh; /* Asegura que ocupe toda la pantalla visible */
  background-image: url("./assets/desktop.jpeg");
  background-size: cover;
  background-position: center; /* Centra la imagen */
}




