@import "../../colors.css";


#navBar{
    min-height: 4%;
    min-Width: 100%;
    background-color: var(--blue-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self:flex-start;

}

#navBar #logo{
    position: absolute;
    left: 1.9%;
    top: 3.2%;
    width: 11vw;
}

#navBar #line{
    position: absolute;
    left: 15%;
    height: 6vh;
    width: 0.2px;
    border: 0.5px white solid;

}

#navBar #buttons{
    position: absolute;
    left: 18%;
    font-size: 1.7vh
}

#navBar #buttons button{
    background-color: var(--blue-2);
}

#navBar #currencyCart{
    position: absolute;
    left: 70.5%;
    font-size: 1.7vh;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navBar #currencyCart button{
    background-color: var(--blue-2);   
}

#navBar #signIn{
    font-size: 1.7vh;
    background-color: rgb(130, 182, 130);
    color: var(--blue-1);
    position: absolute;
    left: 90%
}

@media (max-device-width: 1200px) and (orientation: landscape) {
    #navBar {
      min-height: 5%;
      height: 5%;
      max-height: 5%;
    }
  
    #navBar #logo {
      width: 10vw;
      top: 6%;
    }
  
    #navBar #buttons {
      left: 25%;
      font-size: 1.5vh;
    }
  
    #navBar #currencyCart {
      left: 65%;
      font-size: 1.5vh;
    }
  
    #navBar #signIn {
      font-size: 1.5vh;
      left: 88%;
    }
  }
  
  @media (max-device-width: 700px) and (orientation: portrait) {
    #navBar #logo{
      position: relative;
      top: 3%
    }

    #navBar #buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 0vh;

    }
  
    #navBar #buttons button {
      width: 45%;
      font-size: 0.7vh;
      margin: 1vh 0;
    }
  
    #navBar #currencyCart {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 10vw
    }
  
    #navBar #currencyCart button {
      width: 100%;
      margin-bottom: 1vh;
      font-size: 1vh;
    }
  
    #navBar #signIn {
      width: 10%;
    }
  }