@import "../../colors.css";


    #filtersSearch{
    width: 70vw;
    max-width: 70vw;
    height: 20vh;
    max-height: 20vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%
}

#filtersSearch #title{
    font-size: 4.2vh;
    position: relative;
    left: 4%;
    bottom: 10%
}

#filtersSearch #filters{
    width: 95%;
    min-height: 40%;
    justify-content: space-between;
    align-self: center;
    display: flex;
    flex-direction: row;
    bottom: 21%;
    position: relative;
    align-items: center;
    border: none
}

#filtersSearch #filters  input{
    background-color: var(--blue-1 0.6);
    color: white;
    height: 4.5vh;
    font-size: 1.7vh;
    margin-top: 0.5%;
    border-radius: 7px;
}


@media (max-device-width: 1200px) and (orientation: landscape) {
    #filtersSearch {
      width: 90vw;
      height: auto;
      top: 15%;
    }
  
    #filtersSearch #title {
      font-size: 3vh;
      left: 0;
      text-align: center;
      margin-bottom: 2vh;
    }
  
    #filtersSearch #filters {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    #filtersSearch #filters > * {
      width: 45%;
      margin-bottom: 2vh;
    }
  }
  
  @media (max-device-width: 520px) and (orientation: portrait) {
    #filtersSearch {
      width: 99vw;
      min-width: 99vw;
      top: 15%;
    }
  
    #filtersSearch #title {
      font-size: 2.5vh;
    }
  
    #filtersSearch #filters > * {
      width: 100%;
    }
 }